*{
	box-sizing: border-box;
}
header{
	padding-top: 30px;
}
ul li {
	display: inline-block;
	padding: 30px;
	font-size: 16px;
}
.grupo{
	background-image: url("../img/dance_7_2.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 360px;
	background-size: cover;
}
.trans{
	background-color: rgba(0, 0, 0, 0.27);
	width:600px;
	height: 200px;
	padding-top: 50px;
	margin: auto;
	position: relative;
	top:80px;
	font-size: 15px;
}
.trans h1 {
	margin-bottom: 20px;
}
.fondocubes	{
	background-image: url("../img/cubes.png");
	width: 100%;
	height: 300px;
}
.fondocubes h2{
	margin-bottom: 20px;
}
.fondocubes p{
	margin-top: 20px;
}
.dentro{
	padding-left: 80px;
}
.img{
    position: absolute;
    clip: rect(0px,249px,182px,0px);
    max-width: 230px;
    max-height: 328px;
    padding: 0.5%;
}
.largo{
	height: 330px;
}
.name{
	position: relative;
	top: 200px;
}
.dos{
	position: relative;
	text-align: center;
	font-size: 40px;
	padding-top: 80px;
	height: 250px;
}
.enlinea{
	display: inline-block;
	position: relative;
}
.zapatillas{
	background-image: url("../img/shoes_!.jpg");
    background-repeat: no-repeat;
    height: 470px;
    width: 700px;
    position: absolute;
    background-size: contain;
    display: inline-block;

}
.nombre{
	font-size: 14px;
	height: 30px;
	width: 350px;
}
form i{
	padding: 3px;
	color: gray;
}
input{
	border:none;
}
form p{
	border: solid gray 1px;
	width: 400px;
	margin-bottom: 15px; 	
}
.contacto{
	font-size: 20px;
	padding-left: 150px;
	height: 470px;
}
.mensaje {
	height: 130px;
	position: relative;
}
.enviar{
	width: 400px;
	height: 50px;
	background-color: #192951;
	color:white;
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
}
.contacto h2 {
	margin-bottom: 40px;
	margin-top: 40px;
}
footer{
	background-color: #192951;
	height: 50px;
	color:white;
	font-size: 14px;
	padding: 20px 40px;

}