.caja {
	border: 15px  solid purple;
	padding: 30px 20px 30px 50px ;
	margin: 20px;
	background-color: #F5D0A9;
	}

.centro{
	border: 1px dashed black;
	text-align: center;
	background-color: white;
}

