.logo {
	position: relative;
	text-align: center;
	top: 50px;
}
.barra1 {
	border: 2px solid gray;
	width: 70%;
	position: relative;
	margin: auto;
	top: 150px;
}
.barramenu {
	position:absolute;
	text-align: center;
	top: 240px;
	left: 330px;
}
p {
	display: inline-block;
	padding: 30px;
	font-size: 20px;
}

.barrita {
	border: 1px solid gray;
	width: 0;
	left: 25px;
	display: inline;
}
.barra2 {
	border: 2px solid gray;
	width: 70%;
	position: relative;
	margin: auto;
	top: 200px;
}
.grupal {
	position: relative;
	text-align: center;
	top: 250px;
}
.barrita2 {
	border: 2px solid gray;
	width: 4%;
	position: relative;
	margin: auto;
	top: 280px;
}
.descripcion {
	position: relative;
	text-align: center;
	width: 400px;
	margin: auto;
	top: 250px;
}
.barrita3 {
	border: 1px solid gray;
	width: 3%;
	position: relative;
	margin: auto;
	top: 230px;
}
.coder {
	display: inline-block;
	position: relative;
	margin: 15px;
	width: 200px;
	height: 200px
}
.cont {
	width: 800px;

}
.linea {
	border: 2px solid black;
	width: 100px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.name {
	position: absolute;
	color: white;
	width: 100%;
	top: 140px;
	left: 50px;
	font-size: 16px;
}

h2 {
	margin-left: 10px;
}
.cajacoders {
	position: relative;
	top: 250px;
	left: 250px;
}
.cir {
	width: 200px;
	height: 200px;
	border-radius: 100%;
}

.cajacv {
	border: 1px solid black;
	width: 60%;
	padding: 30px;
	text-align: center;
	position: relative;
	margin: auto;
	top: 20px;
}
.lorem {
	width: 600px;
	text-align: center;
	position: relative;
	left: 100px;
}
.izq {
	text-align: left;
}
.html {
	background-color: gray;
	color:white;
	padding: 10px;
	width: 500px;
}
.css {
	background-color: gray;
	color:white;
	padding: 10px;
	width: 350px;
}
.js {
	background-color: gray;
	color:white;
	padding: 10px;
	width: 200px;
}
.port {
	width: 200px;
	height: 200px;
	margin: 10px;
}
.cajaporta {
	left: 40px;
	position: relative;
}
